In [1]:
import pandas as pd

In [4]:
pattern_f = pd.read_csv('patterns_fr.txt', delimiter = '\t')
pattern_f

                           pattern  iate_%  headword  quality
0                    NOUN ADP NOUN    0.14         0        1
1                         NOUN ADJ    0.14         0        1
2                             NOUN    0.11         0        1
3                NOUN ADP DET NOUN    0.04         0        1
4                NOUN ADP NOUN ADJ    0.03         0        1
5           NOUN ADP NOUN ADP NOUN    0.02         0        1
6                              ADJ    0.02         0        1
7                              ADV    0.02         0        0
8                     NOUN ADJ ADJ    0.01         0        1
9       NOUN ADP NOUN ADP DET NOUN    0.01         0        1
10               NOUN ADJ ADP NOUN    0.01         0        1
11           NOUN ADP DET NOUN ADJ    0.01         0        1
12           NOUN ADJ ADP DET NOUN    0.01         0        1
13                        ADJ NOUN    0.01         1        0
14                       NOUN NOUN    0.01         0        1
15      NOUN ADP DET NOUN ADP NOUN    0.01         0        1
16  NOUN ADP DET NOUN ADP DET NOUN    0.01         0        1

In [5]:
pattern_n = pd.read_csv('patterns_nl.txt', delimiter = '\t')
pattern_n

             pattern  iate_%  headword  quality
0               NOUN    0.34         0        1
1           ADJ NOUN    0.10         1        1
2      NOUN ADP NOUN    0.03         0        1
3                ADV    0.03         0        0
4  NOUN ADP DET NOUN    0.03         1        1
5                ADJ    0.02         0        1
6  NOUN ADP ADJ NOUN    0.01         0        1
7           ADP NOUN    0.01         1        1
8       ADJ ADJ NOUN    0.01         2        1
9                ADP    0.01         0        1