In [1]:
import pandas as pd

In [2]:
corp_equi_wind = pd.read_csv('./corp_equi_wind/en_iate_f1.csv').rename(columns={'Unnamed: 0':'Patterns'})
cols = ['ann_xlnet_htfl.pkl', 'ann_xlnet_wind.pkl',
       'ann_xlnet_equi.pkl', 'ann_xlnet_corp.pkl', 'nes_xlnet_htfl.pkl',
       'nes_xlnet_wind.pkl', 'nes_xlnet_equi.pkl', 'nes_xlnet_corp.pkl']
for col in cols:
    corp_equi_wind['percent_'+col] = round(corp_equi_wind[col]*100/corp_equi_wind[col].iloc[0],2)

In [3]:
corp_equi_wind_df = corp_equi_wind.filter(regex='percent_|Patterns')
corp_equi_wind_df = corp_equi_wind_df[['Patterns','percent_ann_xlnet_htfl.pkl','percent_nes_xlnet_htfl.pkl']]
corp_equi_wind_df[(corp_equi_wind_df.filter(regex='percent_').values > 100).any(axis=1)]

,Patterns,percent_ann_xlnet_htfl.pkl,percent_nes_xlnet_htfl.pkl
1,ADJ_NOUN_F1,105.35,102.65
3,ADJ_ADJ_NOUN_F1,101.39,100.73
5,NOUN_ADJ_NOUN_F1,100.08,99.85
6,NOUN_NOUN_NOUN_F1,100.20,99.87
13,NOUN_PRON_F1,100.17,100.25
14,ADJ_NOUN_ADJ_NOUN_F1,100.00,100.10

In [4]:
corp_equi = pd.read_csv('./corp_equi/en_iate_f1.csv').rename(columns={'Unnamed: 0':'Patterns'})
corp_equi = corp_equi[corp_equi['Patterns'].str.endswith('_F1')]
for col in cols:
    corp_equi['percent_'+col] = round(corp_equi[col]*100/corp_equi[col].iloc[0],2)
corp_equi_df = corp_equi.filter(regex='percent_|Patterns')
corp_equi_df = corp_equi_df[['Patterns','percent_ann_xlnet_wind.pkl','percent_nes_xlnet_wind.pkl']]
corp_equi_df[(corp_equi_df.filter(regex='percent_').values > 100).any(axis=1)]

             Patterns  percent_ann_xlnet_wind.pkl  percent_nes_xlnet_wind.pkl
5         ADJ_NOUN_F1                      102.82                      100.65
8        NOUN_NOUN_F1                      124.91                      111.76
14   ADJ_NOUN_NOUN_F1                      102.13                      100.96
20  NOUN_NOUN_NOUN_F1                      102.60                      100.27

In [10]:
# corp_equi_df.to_csv('./corp_equi/en_iate_f1_.csv')
corp_equi_df[(corp_equi_df.filter(regex='percent_').values > 100).any(axis=1)]
corp_equi_df.filter(regex='Patterns|wind|htfl')

,Patterns,percent_ann_xlnet_wind.pkl,percent_nes_xlnet_wind.pkl
2,NON_PATTERN_F1,100.00,100.00
5,ADJ_NOUN_F1,102.82,100.65
8,NOUN_NOUN_F1,124.91,111.76
11,ADJ_ADJ_NOUN_F1,99.61,99.76
14,ADJ_NOUN_NOUN_F1,102.13,100.96
17,NOUN_ADJ_NOUN_F1,99.87,99.90
20,NOUN_NOUN_NOUN_F1,102.60,100.27
23,NOUN_ADP_NOUN_F1,97.79,97.88
26,NOUN_ADP_ADJ_NOUN_F1,99.09,99.21
29,ADJ_NOUN_ADP_NOUN_F1,99.18,99.76
32,NOUN_ADP_NOUN_NOUN_F1,98.96,99.15
35,ADJ_NOUN_ADP_ADJ_NOUN_F1,99.83,99.90
38,ADV_ADJ_NOUN_F1,99.48,99.66
41,NOUN_PRON_F1,98.44,99.01
44,ADJ_NOUN_ADJ_NOUN_F1,100.00,100.00

In [23]:
corp_wind = pd.read_csv('./corp_wind/en_iate_f1.csv').loc[:,'DOMAIN':]
# corp_wind = corp_wind[corp_wind['Patterns'].str.endswith('_F1')]
# for col in cols:
#     corp_wind['percent_'+col] = round(corp_wind[col]*100/corp_wind[col].iloc[0],2)
# corp_wind_df = corp_wind.filter(regex='percent_|Patterns')
# corp_wind_df = corp_wind_df[['Patterns','percent_ann_xlnet_equi.pkl','percent_nes_xlnet_equi.pkl']]
# corp_wind_df[(corp_wind_df.filter(regex='percent_').values > 100).any(axis=1)]
corp_wind

,DOMAIN,NON_PATTERN,ADJ_NOUN,NOUN_NOUN,ADJ_ADJ_NOUN,ADJ_NOUN_NOUN,NOUN_ADJ_NOUN,NOUN_NOUN_NOUN,NOUN_ADP_NOUN,NOUN_ADP_ADJ_NOUN,ADJ_NOUN_ADP_NOUN,NOUN_ADP_NOUN_NOUN,ADJ_NOUN_ADP_ADJ_NOUN,ADV_ADJ_NOUN,NOUN_PRON,ADJ_NOUN_ADJ_NOUN
0,ann_xlnet_equi.pkl,34.81,33.63,32.74,34.68,34.60,34.74,34.73,34.05,34.61,34.81,34.68,34.78,34.64,34.6,34.80
1,nes_xlnet_equi.pkl,40.62,39.64,38.51,40.52,40.39,40.52,40.57,39.81,40.40,40.58,40.53,40.58,40.36,40.5,40.61

In [24]:
# corp_wind_df[(corp_wind_df.filter(regex='percent_').values > 100).any(axis=1)]
# corp_wind_df.to_csv('./corp_wind/en_iate_f1_.csv')

In [25]:
# a = corp_wind_df[(corp_wind_df['Patterns'] == 'ADJ_NOUN_F1') | (corp_wind_df['Patterns'] == 'NOUN_NOUN_F1') | (corp_wind_df['Patterns'] == 'ADJ_NOUN_NOUN_F1')| (corp_wind_df['Patterns'] == 'NOUN_NOUN_NOUN_F1')]
# a['ann'] = [100 - x for x in a['percent_ann_xlnet_equi.pkl']]
# a['nes'] = [100 - x for x in a['percent_nes_xlnet_equi.pkl']]
# a[['ann','nes']]

In [9]:
equi_wind = pd.read_csv('./equi_wind/en_iate_f1.csv').rename(columns={'Unnamed: 0':'Patterns'})
equi_wind = equi_wind[equi_wind['Patterns'].str.endswith('_F1')]
for col in cols:
    equi_wind['percent_'+col] = round(equi_wind[col]*100/equi_wind[col].iloc[0],2)
equi_wind_df = equi_wind.filter(regex='percent_|Patterns')
# equi_wind_df.to_csv('./equi_wind/en_iate_f1_.csv')
equi_wind_df = equi_wind_df[['Patterns','percent_ann_xlnet_corp.pkl','percent_nes_xlnet_corp.pkl']]
equi_wind_df[(equi_wind_df.filter(regex='percent_').values > 100).any(axis=1)]

            Patterns  percent_ann_xlnet_corp.pkl  percent_nes_xlnet_corp.pkl
1        ADJ_NOUN_F1                      113.66                      100.35
2       NOUN_NOUN_F1                      105.33                       92.08
4   ADJ_NOUN_NOUN_F1                      102.90                      100.79
6  NOUN_NOUN_NOUN_F1                      102.71                      100.35