In [ ]:
import stanza
stanza.download("en")

In [ ]:
nlp = stanza.Pipeline(lang='en', processors='tokenize,mwt,pos,lemma')

In [3]:
import pandas as pd

import re

In [ ]:
gt = pd.read_csv('../ACTER/en/htfl/annotations/htfl_en_terms.ann', sep='	', engine='python',header=None)

In [ ]:
def lemma(li):
    new_list = []
    for t in li:
        doc = nlp(str(t))
        doc1 = ' '.join([word.lemma for sent in doc.sentences for word in sent.words])
        doc1 = re.sub('-',' ',doc1)
        doc1 = re.sub(' \)', '\)',doc1)
        doc1 = re.sub('\( ', '\(',doc1)
        doc1 = re.sub(' +', ' ',doc1)
        new_list.append(doc1)
    new_list = [s for s in new_list if len(s) >= 2]
    return new_list

In [ ]:
gts_lem = lemma(gt[0])

In [ ]:
gt[0]

In [ ]:
set(gts_lem)

In [ ]:
df = pd.DataFrame({'Term': list(set(gts_lem))})
df.to_csv('../Lemmatized_ACTER/en/htfl_en_terms_lem.csv', header = False, index= False)

In [ ]:
df

In [ ]:
def lemma_doc(doc):
    doc = nlp(str(t))
    doc1 = ' '.join([word.lemma for sent in doc.sentences for word in sent.words])
    doc1 = re.sub('-',' ',doc1)
    doc1 = re.sub(' +', ' ',doc1)
    return doc1

In [ ]:
# with open('/ACTER/en/hthe-zen-of-python.txt') as f:
#     contents = f.read()
# f.close()

In [1]:
len('hanh')

4

In [4]:
gt = pd.read_csv('../ACTER/en/htfl/annotations/htfl_en_terms.ann', sep='	', engine='python',header=None)

In [10]:
len(gt[0][1400])

24

In [13]:
gt[2] = gt[0].str.split().str.len()
gt[3] = [len(x) for x in gt[0]]
gt

                                                      0              1  2   3
0                       (123)i-meta-iodobenzylguanidine  Specific_Term  1  31
1                                           (123)i-mibg  Specific_Term  1  11
2     1-alkyl-2-acetyl-sn-glycerol cholinephosphotra...  Specific_Term  2  54
3                                          2-vessel cad  Specific_Term  2  12
4                                           2-way anova       OOD_Term  2  11
...                                                 ...            ... ..  ..
2356                                               β1ar  Specific_Term  1   4
2357                                              β1ars  Specific_Term  1   5
2358                   β2-adrenergic receptor haplotype  Specific_Term  3  32
2359                                        β2-receptor  Specific_Term  1  11
2360                              β2-receptor haplotype  Specific_Term  2  21

[2361 rows x 4 columns]

In [16]:
gt[gt[3] > 1][[0,1]]

                                                      0              1
0                       (123)i-meta-iodobenzylguanidine  Specific_Term
1                                           (123)i-mibg  Specific_Term
2     1-alkyl-2-acetyl-sn-glycerol cholinephosphotra...  Specific_Term
3                                          2-vessel cad  Specific_Term
4                                           2-way anova       OOD_Term
...                                                 ...            ...
2356                                               β1ar  Specific_Term
2357                                              β1ars  Specific_Term
2358                   β2-adrenergic receptor haplotype  Specific_Term
2359                                        β2-receptor  Specific_Term
2360                              β2-receptor haplotype  Specific_Term

[2359 rows x 2 columns]